.full_page {
    background-color: rgb(174, 157, 231);
}

.navbar {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 30px;
    display: flex;
    background-color: black;
    flex-direction: row;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    align-items: center;
}

#back_to_top_button {
    position: fixed;
    right: 10px;
    bottom: 15px;
    background-color: rgb(73, 6, 136);
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
    color: white;
    border: none;
    border-radius: 25px;
}

#back_to_top_button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#back_to_top_button:active {
    opacity: 0.6;
}

.home_b,
.search_b,
.weather_b,
.details_b,
.about_b,
.footer_b {
    font-size: 13px;
    font-family: Arial;
    flex: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 800;
}

.home_b:hover,
.search_b:hover,
.weather_b:hover,
.details_b:hover,
.about_b:hover,
.footer_b:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.home_s_title,
.weather_s_title,
.details_s_title,
.about_s_title {
    font-family: Arial;
    padding-top: 70px;
    font-size: 30px;
    text-align: center;
    font-weight: 650;
    margin-bottom: 0px;
}

.home_s_desc {
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}

.search_s {
    display: flex;
    justify-content: center;
}

.search_s_input {
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    padding-left: 5px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
}

.search_s_input::placeholder {
    font-family: Arial;
}

.search_final {
    margin-left: 10px;
    font-family: Arial;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: rgb(73, 6, 136);
    font-weight: 600;
}

.search_final:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search_final:active {
    opacity: 0.6;
}

.page {    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about_s {
    flex: 1;
}

.about_s_desc {
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
}

.weather_icon_container {
    display: flex;
    justify-content: center;
}

.weather_icon {
    width: 50px;
    align-items: center;
    border-radius: 25px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(221, 221, 138);
    margin-bottom: 30px;
}

.footer_s {
    display: flex;
    color: white;
    background-color: black;
    left: 0;
    right: 0;
    height: 70px;
    align-items: center;
    border-radius: 5px;
}

.sm_links {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-weight: 800;
    padding-left: 28px;
}

.git,
.link_in {
    flex: 1;
    color: white;
    text-decoration-line: none;

}

.policy {
    flex:1;
    font-size: 13px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-weight: 800;
    padding-left: 8px;
}

.git:hover,
.link_in:hover,
.policy:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.tnc {
    color: white;
    text-decoration-line: none;
}